<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>MjSons.ipa</key>
	<array>
		<dict>
			<key>architectures</key>
			<array>
				<string>armv7</string>
				<string>arm64</string>
			</array>
			<key>certificate</key>
			<dict>
				<key>SHA1</key>
				<string>39F88FA2CF5964538509AD06028A7B11F4FD2C10</string>
				<key>dateExpires</key>
				<string>28/11/21</string>
				<key>type</key>
				<string>Apple Distribution</string>
			</dict>
			<key>entitlements</key>
			<dict>
				<key>application-identifier</key>
				<string>ZAWGQ38PQJ.org.reactjs.native.example.MjSons</string>
				<key>com.apple.developer.team-identifier</key>
				<string>ZAWGQ38PQJ</string>
				<key>get-task-allow</key>
				<false/>
				<key>keychain-access-groups</key>
				<array>
					<string>ZAWGQ38PQJ.org.reactjs.native.example.MjSons</string>
				</array>
			</dict>
			<key>name</key>
			<string>MjSons.app</string>
			<key>profile</key>
			<dict>
				<key>UUID</key>
				<string>6f61cd2b-f1b0-4ce5-9695-7f2cb043b9ee</string>
				<key>name</key>
				<string>iOS Team Ad Hoc Provisioning Profile: org.reactjs.native.example.MjSons</string>
			</dict>
			<key>team</key>
			<dict>
				<key>id</key>
				<string>ZAWGQ38PQJ</string>
				<key>name</key>
				<string>Muskseed LLP</string>
			</dict>
		</dict>
	</array>
</dict>
</plist>
